{% extends 'layout.html' %}

{% block navbar %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">

        <!-- Search Bar & Button -->
        <form class="form-inline" action="{{ url_for('index') }}">
            <input class="form-control mr-sm-2" type="text" name="year" placeholder="Specify Year">
            <button class="btn btn-primary" type="submit">Search</button>
        </form>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Right-justified Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}?year={{ races['year'] }}">Season Calendar</a>
                </li>

                <!-- Standings Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="standings_dropdown" role="button" data-toggle="dropdown">Season Standings</a>
                    <div class="dropdown-menu" aria-labelledby="standings_dropdown">
                        <a class="dropdown-item" href="{{ url_for('driver_standings') }}?year={{ races['year'] }}">Driver</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ url_for('constructor_standings') }}?year={{ races['year'] }}">Constructor</a>
                    </div>
                </li>
            </ul>

        </div>
    </nav>
{% endblock navbar %}

{% block page_content %}
    <div class="container">
        <div class="page_header text-center">
            <h2 class="display-4">The {{ races['year'] }} Formula One Calender</h2>
            {% if races['Races']|length == 0 %} <!-- If any issues: Add or races|length == 0 -->
                <div class="alert alert-danger" role="alert">
                    Sorry, we tried requesting the information but got no response!
                    The server may be down, or this information may not be available.
                </div>
            {% else %}
                <p>Below, you can view the qualifying and race results for past race weekends of {{ races['year'] }}. You can use the navigation
                bar at the top to view the driver and constructor standings, or to return to the calender page.</p>
            {% endif %}
        </div>

        {% for r in races['Races'] %}
            <!-- Border colour depends on if the race has occurred yet. -->
            {% if r['date']['datetime'] < today %}
                <div class="card f1_links border-success" style="width: 21rem; margin: 10px; float: left; padding: 3px;">
            {% else %}
                <div class="card f1_links border-danger" style="width: 21rem; margin: 10px; float: left; padding: 3px;">
            {% endif %}
                    <div class="card-header">
                        <h4 class="card-title">{{ r['race'] }}</h4>
                        <h6 class="card-subtitle mb-2 text-muted"> - {{ r['locality'] }}</h6>
                    </div>

                    <div class="card-body f1_links">
                        <p class="card-text"><a href="{{ r['url'] }}">{{ r['circuit'] }}</a><br />{{ r['date']['text'] }}</p>
                        <!-- Display links to results if the race has happened. -->
                        {% if r['date']['datetime'] < today %}
                            <p class="card-text">
                                <a href="{{ url_for('qualifying') }}?year={{ races['year'] }}&round={{ r['round'] }}">Qualifying</a> and
                                <a href="{{ url_for('race') }}?year={{ races['year'] }}&round={{ r['round'] }}">Race</a> <br />
                                <a href="{{ url_for('driver_standings') }}?year={{ races['year'] }}&round={{ r['round'] }}">Driver Standings</a> <br/>
                                <a href="{{ url_for('constructor_standings') }}?year={{ races['year'] }}&round={{ r['round'] }}">Constructor Standings</a></p>
                        {% else %}
                            <p class="card-text" style="font-style: italic;">
                                Qualifying Results Unavailable <br />
                                Race Results Unavailable <br />
                                Standings Unavailable</p>
                        {% endif %}
                    </div>

                    <div class="card-footer text-muted" style="height:3rem;">
                        {% if r['date']['datetime'] < today %}
                            <p class="text-center">Round {{ r['round'] }} - Finished</p>
                        {% else %}
                            <p class="text-center">Round {{ r['round'] }} - Upcoming</p>
                        {% endif %}
                    </div>
                </div>
        {% endfor %}
    </div>

{% endblock page_content %}
