{% extends 'layout.html' %}

{% block navbar %}

    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">

        <!-- Search Bar & Button -->
        <form class="form-inline" action="{{ url_for('index') }}">
            <input class="form-control mr-sm-2" type="text" name="year" placeholder="Specify Year">
            <button class="btn btn-primary" type="submit">Search</button>
        </form>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Right-justified Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">Season Calendar</a>
                </li>

                <!-- Standings Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="standings_dropdown" role="button" data-toggle="dropdown">Current Standings</a>
                    <div class="dropdown-menu" aria-labelledby="standings_dropdown">
                        <a class="dropdown-item" href="{{ url_for('driver_standings') }}">Driver</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ url_for('constructor_standings') }}">Constructor</a>
                    </div>
                </li>

                <!-- History Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="history_dropdown" role="button" data-toggle="dropdown">History</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="history_dropdown">
                        <a class="dropdown-item" href="#">Driver</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ url_for('constructor_history') }}">Constructor</a>
                    </div>
                </li>


            </ul>
        </div>
    </nav>

{% endblock navbar %}


