{% extends 'layout.html' %}

{% block page_content %}
    {% if c_standings|length == 0 %}
        <p>Sorry, we had trouble finding the constructor standings.</p>
    {% else %}
        <h1>The {{ c_standings[1]['season'] }} Formula 1 Constructor's Championship</h1>
        <p>Data from round {{ c_standings[1]['round'] }}, {{ c_standings[1]['season'] }}.</p>
        <table class="container table table-striped standings_table">
            <tr>
                <th>Position</th>
                <th>Constructor</th>
                <th>Points</th>
                <th>Wins</th>
            </tr>
            {% for c in c_standings[0] %}
                <tr>
                    <td>{{ c['pos'] }}</td>
                    <td><a href="{{ c['url'] }}">{{ c['name'] }}</a></td>
                    <td>{{ c['points'] }}</td>
                    <td>{{ c['wins'] }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endblock page_content %}