{% extends 'layout.html' %}

{% block navbar %}

    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <!-- Search Bar & Button -->
        <form class="form-inline" action="{{ url_for('index') }}">
            <input class="form-control mr-sm-2" type="text" name="year" placeholder="Specify Year">
            <button class="btn btn-primary" type="submit">Search</button>
        </form>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Right-Justified Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}?year={% if results|length == 0 %}2019
                                                                              {% else %}{{ results['RoundInfo']['season'] }}
                                                                              {% endif %}">Season Calendar</a>
                    </li>

                    <!-- Standings Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="standings_dropdown" role="button" data-toggle="dropdown">Season Standings</a>
                        <div class="dropdown-menu" aria-labelledby="standings_dropdown">

                            <a class="dropdown-item" href="{{ url_for('driver_standings') }}?year={% if results|length == 0 %}2019
                                                                                                  {% else %}{{ results['RoundInfo']['season'] }}
                                                                                                  {% endif %}">Driver</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url_for('constructor_standings') }}?year={% if results|length == 0 %}2019
                                                                                                       {% else %}{{ results['RoundInfo']['season'] }}
                                                                                                       {% endif %}">Constructor</a>
                        </div>
                    </li>
                </ul>
        </div>
    </nav>

{% endblock navbar %}

{% block page_content %}
    <div class="page_header text-center">
        {% if results|length == 0 %}
            <div class="alert alert-danger" role="alert">
                Sorry, we had trouble finding the constructor standings.
                The server may be down, or this information may not be available.
             </div>

        {% else %}
            <h1 class="display-4">The {{ results['RoundInfo']['season'] }} Formula 1 Constructor's Championship</h1>
            <p>Data taken from race {{ results['RoundInfo']['round'] }}, {{ results['RoundInfo']['season'] }}.</p>
    </div>
        <table class="container table table-striped f1_links">
            <tr>
                <th>Position</th>
                <th>Constructor</th>
                <th>Nationality</th>
                <th>Points</th>
                <th>Wins</th>
                <th>Win %</th>
            </tr>
            {% for con in results['Constructor'] %}
                <tr>
                    <td>{{ con['pos'] }}</td>
                    <td><a href="{{ con['url'] }}">{{ con['name'] }}</a></td>
                    <td>{{ con['nationality'] }}</td>
                    <td>{{ con['points'] }}</td>
                    <td>{{ con['wins']['number'] }}</td>
                    <td>{% if con['wins']['percentage'] > 0 %}{{ con['wins']['percentage'] }}%{% endif %}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endblock page_content %}
