{% extends 'layout.html' %}

{% block page_content %}
    <div class="page_header text-center">
        {% if c_standings|length == 0 %}
            <p>Sorry, we had trouble finding the constructor standings.</p>
        {% else %}
            <h1 class="display-4">The {{ c_standings['RoundInfo']['season'] }} Formula 1 Constructor's Championship</h1>
            <p style="font-style: oblique;">Data correct as of round {{ c_standings['RoundInfo']['round'] }}, {{ c_standings['RoundInfo']['season'] }}.</p>
    </div>
        <table class="container table table-striped f1_links">
            <tr>
                <th>Position</th>
                <th>Constructor</th>
                <th>Points</th>
                <th>Wins</th>
            </tr>
            {% for c in c_standings['Constructor'] %}
                <tr>
                    <td>{{ c['pos'] }}</td>
                    <td><a href="{{ c['url'] }}">{{ c['name'] }}</a></td>
                    <td>{{ c['points'] }}</td>
                    <td>{{ c['wins'] }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endblock page_content %}
