{% extends 'layout.html' %}

{% block page_content %}
    <div class="page_header text-center">
        {% if d_standings|length == 0 %}
            <p>Sorry, we had trouble finding the driver standings.</p>
        {% else %}
            <h1 class="display-4">The {{ d_standings['RoundInfo']['season'] }} Formula 1 Driver's Championship</h1>
            <p style="font-style: oblique;">Data correct as of round {{ d_standings['RoundInfo']['round'] }}, {{ d_standings['RoundInfo']['season'] }}.</p>
    </div>
        <table class="container table table-striped border f1_links">
            <tr>
                <th>Position</th>
                <th>Forename</th>
                <th>Surname</th>
                <th>Constructor</th>
                <th>Points</th>
            </tr>
            {% for d in d_standings['Driver'] %}
                <tr>
                    <td>{{ d['pos'] }}</td>
                    <td><a href="{{ d['url'] }}">{{ d['fn'] }}</a></td>
                    <td><a href="{{ d['url'] }}">{{ d['ln'] }}</a></td>
                    <td>{{ d['cons'] }}</td>
                    <td>{{ d['points'] }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endblock page_content %}
