{% extends 'layout.html' %}

{% block page_content %}
    <div class="container text-center">
        <div class="page_header">
            <h2 class="display-4">F1 Stats</h2>
            <p>Please enter the year of the season you wish to see.</p>


            <form action="{{ url_for('calender') }}">
                <label>
                    <input type="text" class="form-control text-center" name="year"/>
                </label>
                <label>
                    <input type="button" class="btn btn-primary" value="Go"/>
                </label>
            </form>

        </div>
    </div>


{% endblock page_content %}