{% extends 'layout.html' %}

{% block page_content %}
    <div class="text-center f1_links">
        {% if results|length == 0 %}
            <p>Sorry, we had trouble finding the most recent race results.</p>
        {% else %}
            <h1 class="display-4">The {{ results['RoundInfo']['race'] }} - Race</h1>
            <h2><a href="{{ results['RoundInfo']['url'] }}">{{ results['RoundInfo']['circuit'] }}</a></h2>
            <p>{{ results['RoundInfo']['date'] }} - Round {{ results['RoundInfo']['round'] }}</p>
     </div>
        <table class="container table table-striped f1_links">
            <tr>
                <th>Position</th>
                <th>Forename</th>
                <th>Surname</th>
                <th>Time</th>
                <th>Fastest Lap</th>
                <th>Points</th>
            </tr>
            {% for d in results['Driver'] %}
                <tr>
                    <td>{{ d['pos'] }}</td>
                    <td><a href="{{ d['url'] }}">{{ d['fn'] }}</a></td>
                    <td><a href="{{ d['url'] }}">{{ d['ln'] }}</a></td>
                    <td>{{ d['time'] }}</td>
                    <td>{{ d['bestLap']['text'] }}</td>
                    <td>{{ d['points'] }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endblock page_content %}
