{% extends 'layout.html' %}

{% block navbar %}

    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <!-- Search Bar & Button -->
        <form class="form-inline" action="{{ url_for('index') }}">
            <input class="form-control mr-sm-2" type="text" name="year" placeholder="Specify Year">
            <button class="btn btn-primary" type="submit">Search</button>
        </form>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Right-Justified Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}?year={% if results|length == 0 %}2019
                                                                              {% else %}{{ results['RoundInfo']['season'] }}
                                                                              {% endif %}">Season Calendar</a>
                    </li>

                    <!-- Standings Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="standings_dropdown" role="button" data-toggle="dropdown">Season Standings</a>
                        <div class="dropdown-menu" aria-labelledby="standings_dropdown">

                            <a class="dropdown-item" href="{{ url_for('driver_standings') }}?year={% if results|length == 0 %}2019
                                                                                                  {% else %}{{ results['RoundInfo']['season'] }}
                                                                                                  {% endif %}">Driver</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url_for('constructor_standings') }}?year={% if results|length == 0 %}2019
                                                                                                       {% else %}{{ results['RoundInfo']['season'] }}
                                                                                                       {% endif %}">Constructor</a>
                        </div>
                    </li>
                </ul>
        </div>
    </nav>

{% endblock navbar %}


{% block page_content %}
    <div class="text-center f1_links">
        {% if results|length == 0 %}
            <div class="alert alert-danger" role="alert">
                 Sorry, we had trouble finding the requested qualifying results.
                 The server may be down, or this information may not be available.
            </div>

        {% else %}
            <h1 class="display-4">The {{ results['RoundInfo']['race'] }} - Qualifying</h1>
            <h2><a href="{{ results['RoundInfo']['url'] }}">{{ results['RoundInfo']['circuit'] }}</a></h2>
            <p>{{ results['RoundInfo']['date'] }} - Round {{ results['RoundInfo']['round'] }}</p>
            <p>Each qualifying lap time is given below, as well as the gap to the next fastest driver in Q3.<br />
            A green delta means the driver improved over their previous qualifying session lap. A red time denotes a slower lap.</p>
    </div>
        <table class="container table table-striped f1_links">
            <tr>
                <th>Position</th>
                <th>Forename</th>
                <th>Surname</th>
                <th>Q1</th>
                <th>Q2</th>
                <th>Q3</th>
                <th></th>
            </tr>
            {% for d in results['Driver'] %}
                <tr>
                    <td>{{ d['pos'] }}</td>
                    <td><a href="{{ d['url'] }}">{{ d['fn'] }}</a></td>
                    <td><a href="{{ d['url'] }}">{{ d['ln'] }}</a></td>
                    <td>{{ d['q1']['text'] }}</td>
                    <td>{{ d['q2']['text'] }}</td>
                    <td>{{ d['q3']['text'] }}</td>

                    {% if d['q3']['delta'] != '' %}
                        <td style="color: RED; font-size: 12px;">+{{ d['q3']['delta'] }}</td>
                    {% else %}
                        <td style="font-size: 12px;"></td>
                    {% endif %}

                </tr>
            {% endfor %}
        </table>
        {% endif %}

{% endblock page_content %}
