<!DOCTYPE html>
<html lang="en">
<head>
    <title>Formula 1 Statistics</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Local CSS -->
   <link rel="stylesheet" href="../static/style.css" type="text/css"/>
</head>

<!-- This page cannot inherit layout.html as it requires the year from the
    API request, which it then passes onto the standings pages. -->


<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">

                <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Recent Grand Prix</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ url_for('qualifying') }}">Qualifying Results</a>
                            <a class="dropdown-item" href="{{ url_for('race') }}">Race Results</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('driver_standings') }}?season={{ races['year'] }}">Driver Standings</a></li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('constructor_standings') }}?season={{ races['year'] }}">Constructor Standings</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="page_header text-center">
            <h2 class="display-4">Formula 1 Statistics</h2>
            {% if races|length == 0 %}
                <div class="alert alert-danger" role="alert">
                    Sorry, we tried requesting the information but got no response!
                </div>
            {% else %}
                <p>Below, you can view the qualifying and race results for past race weekends of {{ races['year'] }}. You can use the navigation
                bar at the top to view the driver and constructor standings, as well as the results of the most recent
                grand prix.</p>
            {% endif %}
        </div>

        {% for r in races['Races'] %}
            <!-- Border colour depends on if the race has occurred yet. -->
            {% if r['date']['datetime'] < today %}
                <div class="card f1_links border-success" style="width: 21rem; margin: 10px; float: left; padding: 3px;">
            {% else %}
                <div class="card f1_links border-danger" style="width: 21rem; margin: 10px; float: left; padding: 3px;">
            {% endif %}
                    <div class="card-header">
                        <h4 class="card-title">{{ r['race'] }}</h4>
                        <h6 class="card-subtitle mb-2 text-muted"> - {{ r['locality'] }}</h6>
                    </div>

                    <div class="card-body f1_links">
                        <p class="card-text"><a href="{{ r['url'] }}">{{ r['circuit'] }}</a><br />{{ r['date']['text'] }}</p>
                        <!-- Display links to results if the race has happened. -->
                        {% if r['date']['datetime'] < today %}
                            <p class="card-text">
                                <a href="{{ url_for('qualifying') }}?round_n={{ r['round'] }}&season={{ races['year'] }}">View Qualifying Results</a> <br />
                                <a href="{{ url_for('race') }}?round_n={{ r['round'] }}&season={{ races['year'] }}">View Race Results</a></p>
                        {% else %}
                            <p class="card-text">
                                Qualifying Results Unavailable <br />
                                Race Results Unavailable </p>
                        {% endif %}
                    </div>

                    <div class="card-footer text-muted" style="height:3rem;">
                        {% if r['date']['datetime'] < today %}
                            <p class="text-center">Round {{ r['round'] }} - Finished</p>
                        {% else %}
                            <p class="text-center">Round {{ r['round'] }} - Upcoming</p>
                        {% endif %}
                    </div>
                </div>
        {% endfor %}
    </div>
</body>
