{% extends 'layout.html' %}

{% block navbar %}
   <!-- Navigation -->
     <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">

                <form class="form-inline" action="{{ url_for('index') }}">
                    <input class="form-control mr-sm-2" type="text" name="year" placeholder="Specify Year">
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>

                {% if results|length == 0 %}
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('index') }}">Calender</a></li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('driver_standings') }}">Driver Standings</a></li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('constructor_standings') }}">Constructor Standings</a></li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('index') }}?year={{ results['RoundInfo']['season'] }}">Calender</a></li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('driver_standings') }}?year={{ results['RoundInfo']['season'] }}">Driver Standings</a></li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('constructor_standings') }}?year={{ results['RoundInfo']['season'] }}">Constructor Standings</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock navbar %}

{% block page_content %}
    <div class="text-center f1_links">
        {% if results|length == 0 %}
            <div class="alert alert-danger" role="alert">
                 Sorry, we had trouble finding the requested race results.
            </div>

        {% else %}
            <h1 class="display-4">The {{ results['RoundInfo']['race'] }} - Race</h1>
            <h2><a href="{{ results['RoundInfo']['url'] }}">{{ results['RoundInfo']['circuit'] }}</a></h2>
            <p>{{ results['RoundInfo']['date'] }} - Round {{ results['RoundInfo']['round'] }}</p>
     </div>

        <table class="container table table-striped f1_links">
            <tr>
                <th>Position</th>
                <th>Forename</th>
                <th>Surname</th>
                <th>Time</th>
                <th>Fastest Lap</th>
                <th>Points</th>
            </tr>
            {% for d in results['Driver'] %}
                <tr>
                    <td>{{ d['pos'] }}</td>
                    <td><a href="{{ d['url'] }}">{{ d['fn'] }}</a></td>
                    <td><a href="{{ d['url'] }}">{{ d['ln'] }}</a></td>
                    <td>{{ d['time'] }}</td>
                    <!-- Show fastest lap as purple -->
                    {% if d['bestLap']['rank'] == '1' %}
                        <td style="color:mediumpurple; font-weight:bold;">
                    {% else %}
                        <td>
                    {% endif %}
                        {{ d['bestLap']['text'] }}
                        </td>
                    <td>{{ d['points'] }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endblock page_content %}
