{% extends 'layout.html' %}

{% block page_content %}
    <div class="text-center f1_links">
        {% if results|length == 0 %}
            <p>Sorry, we had trouble finding the most recent qualifying results.</p>
        {% else %}
            <h1 class="display-4">The {{ results['RoundInfo']['race'] }} - Qualifying</h1>
            <h2><a href="{{ results['RoundInfo']['url'] }}">{{ results['RoundInfo']['circuit'] }}</a></h2>
            <p>{{ results['RoundInfo']['date'] }} - Round {{ results['RoundInfo']['round'] }}</p>
            <p>Each qualifying lap time is given below, as well as the delta between runs Q1 - Q2, and Q2 - Q3.<br />
            A green delta means the driver improved over their previous qualifying session lap. A red time denotes a slower lap.</p>
    </div>
        <table class="container table table-striped f1_links">
            <tr>
                <th>Position</th>
                <th>Name</th>
                <th>Q1</th>
                <th>Q2</th>
                <th>Q3</th>
                <th>Gap</th>
            </tr>
            {% for d in results['Driver'] %}
                <tr>
                    <td>{{ d['pos'] }}</td>
                    <td><a href="{{ d['url'] }}">{{ d['fn'] }} {{ d['ln'] }}</a></td>
                    <td>{{ d['q1']['text'] }}</td>
                    <td>{{ d['q2']['text'] }}</td>
                    <td>{{ d['q3']['text'] }}</td>
                    <td>{{ d['Delta'] }}</td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}

{% endblock page_content %}
